<div class="row" id="contact-content">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-content">
      <h1 class="page-title">Developers</h1>
      <p>
        This page is for people wanting to upload their own game to our platform and get some funding.
      </p>
      <p>
        For security reasons, we cannot let you upload a javascript file straight to our server at this time. We are working on way to solve this issue. In the meantime, we suggest that you get in touch with our support team:
      </p>
      <p><b>support@gamechanger.com</b></p>
    </div>
  </div>
</div>
