<div id="index-main">
  <div id="main-text">
    <h1>Every developer started somewhere.</h1>

    <h3>
      We help game developers fund themselves <br>
      and get feedback all thanks to our amazing community of gamers.
    </h3>
    <div id="start-button"><a href="/games"><button type="button" class="btn btn-success btn-lg">Start Helping Now</button></a> </div>
  </div>
</div>