<div class="row" id="contact-content">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-content">
      <h1 class="page-title">/!\ Game Not Available /!\</h1>
      <p>
        Sorry, the game you're trying to access has not yet been developed. Be patient, the dev is planning on releasing it soon!
      </p>
    </div>
  </div>
</div>
