<div class="row" id="play-game">
  <div class="col-sm-6 col-sm-offset-1">
    <canvas width="600" height="600" style="background-color: black" id="screen"></canvas>
  </div>
  <div class="col-sm-3">
    <h3>A-Maze-Zing</h3>
    <a href="https://www.kickstarter.com/projects/1343822689/raji-an-ancient-epic/pledge/new?clicked_reward=false&ref=home_featured&refresh=1"><%= image_tag('examplefund.png', width: 400) %></a>
  </div>
</div>

<div class="row" id="comment-section">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Comments</h1>
    <h4>Subject: Great Game!</h4>
    <h5><a href="#">Arjun Gupta</a> 20/11/2017 at 04:21am.</h5>
    <p>Great game man, I chipped in $20. You should probably slow the speed of the cube or make it easier to take corners, but apart from that, it's very satisfying!</p>
    <textarea placeholder="Write a comment here" name="message" rows="3" cols="80"  id="comment" ></textarea><br>
    <input type="submit" value="Submit">
  </div>
</div>
