<div class="row" id="contact-content">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-content">
      <h1 class="page-title">Contact</h1>
      <p>
        This project was developed for the final project of the class Comp 307 (Principles of Web Development) at McGill University in Fall 2017. It is based on the Ruby On Rails framework.
      </p>
      <h3>Authors</h3>
      <p>
        <b>Isabelle Grégoire</b><br>
        isabelle.gregoire3@mail.mcgill.ca<br>
        <b>Simon Fredette</b><br>
        simon.fredette@mail.mcgill.ca<br>
        <b>Arjun B. Gupta</b><br>
        boris.gupta@mail.mcgill.ca<br>
      </p>
    </div>
  </div>
</div>
