// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game-gallery, #play-game, #comment-section{
  margin: 0;
}

#play-game {
  padding: 40px 0;
}

#game-funding-info {
  background: #ffffff;
  width: 100%;
  padding: 1px 10px;
}

#progress-bar {
  height: 3px;
  background-color: #DCDEDD;
  margin: 30px 0 10px 0;
}

#completed {
  height: 3px;
  width: 0;
  background-color: #009E74;
}

.main-info {
  font-size: 1.6em;
}

#current-fund {
  color: #007460;
}

.text-labels {
  color: #888888;
  margin-bottom: 15px;
}

#back-link {
  text-decoration: none;
}

#back-link:hover {
  text-decoration: none;
}

#backing-button {
  color: #e5f5f1;
  font-size: 1.1em;
  background-color: #009E74;
  text-align: center;
  height: 50px;
  width: 100%;
  padding-top: 12px;
  vertical-align: middle;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#backing-button:hover {
  color: #ffffff;
  background-color: #006e51;
}


#comment {
  margin-top: 20px;
}





//==================== Responsive Gallery =======================
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  margin: 20px 0;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
