html,
body {
  color: #1C1C1C;
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
  background-color: white;
  background-attachment: scroll, fixed;
  background-image: linear-gradient(
                  rgba(255, 255, 255, 0.5),
                  rgba(255, 255, 255, 0.5) ),url("whitebrickwall.jpg");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.page-title {
  margin: 30px 0 40px 0;
  text-align: center;
}

#container {
  position: relative; /* needed for footer positioning*/
  min-height: 100%; /* real browsers */
}

#row-header {
  vertical-align: middle;
  margin:0;
}

#navbar {
  background-color: #76C2AF;
  padding: 8px 0;
}

#login {
  margin-top: -33px;
  top: 0;
  float: right;
  position: relative;
  margin-right: 5px;
}

#home-btn {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.5em;
  color: #222222;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#home-btn:hover {
  text-decoration: none;
  text-shadow: 1px 1px #444444;
}

#navmenu {
  float: right;
  margin-top: 0.1em;
  font-size: 1.2em;
}

#navmenu a {
  color: #ffffff;
}

#navmenu a:hover {
  text-decoration: none;
  color: #25493e;
  border-bottom: 2px solid #25493e;
}

#navmenu td {
  padding-left: 25px;
}



//========== DROP DOWN =============
.dropbtn {
  background-color: #76C2AF;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background: rgba(200,200,200,0.75);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #25493e;
  border-bottom: 2px solid #25493e;
}

#logged-in {
  font-size: 0.8em;
  margin: 0 5px;
}
//============================



#index-main {
  color: #4b7a6f;
  padding: 10em 0 10em 0;
  text-align: center;
}

#index-main h1 {
  font-size: 4em;
  margin-bottom: 1em;
}

#start-button {
  margin-top: 4em;
}

main {
  padding-bottom:100px;   /* Height of the footer */
}

.page-content {
  background: rgba(200,200,200,0.5);
  padding: 0 20px 20px 30px;
  border-radius: 10px;
}

footer {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 40px;
  height: 100px;
  text-align: center;
  color: #ffffff;
  background: #4d7a6f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4d7a6f, #223732); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4d7a6f, #223732); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4d7a6f, #223732); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4d7a6f, #223732); /* Standard syntax */
}


